<source>
  @type cadvisor
  #tag_prefix cadvisor.
  tag log.cadvisor
  item_prefix container
  stats_interval 10
</source>

<filter log.**>
  @type record_transformer
  enable_ruby
  <record>
    instance_type m4.large
    region ap-northeast-1
    @timestamp ${time.strftime('%Y-%m-%dT%H:%M:%S%z')}
  </record>
</filter>

<match log.**>
  @type file
  path /var/log/fluentd/fluentd_cadvisor.log
  format json
  time_slice_format %Y%m%d
</match>

